{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(900) %}
{% set header_image_height = page.header.header_image_height|defined(300) %}
{% set header_image_file = page.header.header_image_file %}


                                                            <div class="cell panel">
                                                                <div class="header">
                                                                <div class="col">
                                                                                                                <div class="col width-fill">
                                                                                                                    <div class="cell panel">
                                                                                                                        <div class="body">
                                                                                                                            <div class="cell">
                                                                                                                                <figure class="blogpost">
                                                                                                                                {% if header_image %}
                                                                                                                                    {% if header_image_file %}
                                                                                                                                        {% set header_image_media = page.media.images[header_image_file] %}
                                                                                                                                    {% else %}
                                                                                                                                        {% set header_image_media = page.media.images|first %}
                                                                                                                                    {% endif %}
                                                                                                                                    {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
                                                                                                                                {% endif %}
                                                                                                                                </figure>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="body">
                                                                    <div class="col width-1of6">
                                                                        <div class="cell panel">
                                                                            <div class="header">
                                                                                Left Column
                                                                            </div>
                                                                            <div class="body">
                                                                                <div class="cell">
                                                                                <strong>{{ page.date|date("M") }}</strong>
                                                                                <strong>{{ page.date|date("d") }}</strong>
                                                                                </div>
                                                                            </div>
                                                                            <div class="body>
                                                                            <div class="cell">
    <div class="col">
        <div class="cell tags">
            <ul class="nav blocks">
                                                                            {% if page.taxonomy.tag %}
                                                                            <span class="tags">
                                                                                {% for tag in page.taxonomy.tag %}
                                                                                <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
                                                                                {% endfor %}
                                                                            </span>

                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col width-fill">
                                                                        <div class="cell panel">
                                                                            {% if page.header.link %}
                                                                            <div class="header">
                                                                                <h4>
                                                                                    {% if page.header.continue_link is not sameas(false) %}
                                                                                    <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
                                                                                    {% endif %}
                                                                                    <a href="{{ page.header.link }}">{{ page.title }}</a>
                                                                                </h4>
                                                                            </div>
                                                                            {% else %}
                                                                            <div class="header"><h4><a href="{{ page.url }}">{{ page.title }}</a></h4></div>
                                                                            {% endif %}
                                                                            <div class="body">
                                                                                <div class="cell">
                                                                                {% if page.header.continue_link is sameas(false) %}
                                                                                    <p>{{ page.content }}</p>
                                                                                    {% if not truncate %}
                                                                                    {% set show_prev_next = true %}
                                                                                    {% endif %}
                                                                                {% elseif truncate and page.summary != page.content %}
                                                                                    <p>{{ page.summary }}</p>
                                                                                    <p><a href="{{ page.url }}">Continue Reading...</a></p>
                                                                                {% elseif truncate %}
                                                                                    {% if page.summary != page.content %}
                                                                                        <p>{{ page.content|truncate(550) }}</p>
                                                                                    {% else %}
                                                                                        <p>{{ page.content }}</p>
                                                                                    {% endif %}
                                                                                    <p><a href="{{ page.url }}">Continue Reading...</a></p>
                                                                                {% else %}
                                                                                    <p>{{ page.content }}</p>
                                                                                    {% set show_prev_next = true %}
                                                                                {% endif %}
                                                                                </div>
                                                                            </div>
                                                                            <div class="footer">
                                                                            {% if page.header.continue_link is sameas(false) %}
                                                                                {% if not truncate %}
                                                                                {% set show_prev_next = true %}
                                                                                {% endif %}
                                                                            {% elseif truncate and page.summary != page.content %}
                                                                                <p><a href="{{ page.url }}">Continue Reading...</a></p>
                                                                            {% elseif truncate %}
                                                                                <p><a href="{{ page.url }}">Continue Reading.....</a></p>
                                                                            {% else %}
                                                                                {% set show_prev_next = true %}
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
