<body class="narrow">
    <div class="site-center">
        <div class="site-body">
            <div class="site-header">
                <div class="col width-fit mobile-width-fit sitemenu">
                    <div class="col width-fit mobile-width-fit">
                        <div class="cell">
                            <a href="index.html" class="logo"></a>
                        </div>
                    </div>
                    <div class="col width-fill mobile-width-fill">
                        <div class="cell">
                            <ul class="nav">
                            {% for page in pages.children %}
                            {% if page.visible %}
                            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                            <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sitemenu-responsive col collapsible collapsed">
                    <div class="col collapse-trigger">
                        <div class="cell">
                            <ul class="nav ">
                                <li><a href="#"><span class="icon icon-32 icon-align-justify"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="right collapse-section">
                            <div class="cell">
                                <ul class="nav">
                                {% for page in pages.children %}
                                {% if page.visible %}
                                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                                <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                                {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
